button.theme-base, .theme-base.btn {
  position: relative;
  outline: none;
  font-size: 1rem;
  padding: 5px 10px;
  box-sizing: border-box;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button.theme-base.red, .theme-base.btn.red {
  background-color: #f44336;
  color: #fff;
}

button.theme-base.yellow, .theme-base.btn.yellow {
  background-color: #FFDD01;
  color: #535353;
}

button.theme-base.pink, .theme-base.btn.pink {
  background-color: #e91e63;
  color: #fff;
}

button.theme-base.green, .theme-base.btn.green {
  background-color: #8bc34a;
  color: #fff;
}

button.theme-base.violet, .theme-base.btn.violet {
  background-color: #673ab7;
  color: #fff;
}

button.theme-base.orange, .theme-base.btn.orange {
  background-color: #ffc107;
  color: #fff;
}

button.theme-base.blue, .theme-base.btn.blue {
  background-color: #3190FF;
  color: #fff;
}

button.theme-base.cyan, .theme-base.btn.cyan {
  background-color: #00bcd4;
  color: #fff;
}

button.theme-base.white, .theme-base.btn.white {
  background-color: #fff;
  color: #000;
}

button.theme-base.black, .theme-base.btn.black {
  background-color: #000;
  color: #fff;
}

button.theme-base.gray, .theme-base.btn.gray {
  background-color: #a7a7a7;
  color: #000;
}

button.theme-base.o-red, .theme-base.btn.o-red {
  background-color: transparent;
  color: #f44336;
  border: 2px solid #f44336 !important;
}

button.theme-base.o-red.shadow, .theme-base.btn.o-red.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-red.shadow.shadow-hover:hover, .theme-base.btn.o-red.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-red.shadow.shadow-hover:active, .theme-base.btn.o-red.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.o-yellow, .theme-base.btn.o-yellow {
  background-color: transparent;
  color: #FFDD01;
  border: 2px solid #FFDD01 !important;
}

button.theme-base.o-yellow.shadow, .theme-base.btn.o-yellow.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-yellow.shadow.shadow-hover:hover, .theme-base.btn.o-yellow.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-yellow.shadow.shadow-hover:active, .theme-base.btn.o-yellow.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.o-pink, .theme-base.btn.o-pink {
  background-color: transparent;
  color: #e91e63;
  border: 2px solid #e91e63 !important;
}

button.theme-base.o-pink.shadow, .theme-base.btn.o-pink.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-pink.shadow.shadow-hover:hover, .theme-base.btn.o-pink.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-pink.shadow.shadow-hover:active, .theme-base.btn.o-pink.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.o-green, .theme-base.btn.o-green {
  background-color: transparent;
  color: #8bc34a;
  border: 2px solid #8bc34a !important;
}

button.theme-base.o-green.shadow, .theme-base.btn.o-green.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-green.shadow.shadow-hover:hover, .theme-base.btn.o-green.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-green.shadow.shadow-hover:active, .theme-base.btn.o-green.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.o-violet, .theme-base.btn.o-violet {
  background-color: transparent;
  color: #673ab7;
  border: 2px solid #673ab7 !important;
}

button.theme-base.o-violet.shadow, .theme-base.btn.o-violet.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-violet.shadow.shadow-hover:hover, .theme-base.btn.o-violet.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-violet.shadow.shadow-hover:active, .theme-base.btn.o-violet.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.o-orange, .theme-base.btn.o-orange {
  background-color: transparent;
  color: #ffc107;
  border: 2px solid #ffc107 !important;
}

button.theme-base.o-orange.shadow, .theme-base.btn.o-orange.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-orange.shadow.shadow-hover:hover, .theme-base.btn.o-orange.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-orange.shadow.shadow-hover:active, .theme-base.btn.o-orange.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.o-blue, .theme-base.btn.o-blue {
  background-color: transparent;
  color: #3190FF;
  border: 2px solid #3190FF !important;
}

button.theme-base.o-blue.shadow, .theme-base.btn.o-blue.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-blue.shadow.shadow-hover:hover, .theme-base.btn.o-blue.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-blue.shadow.shadow-hover:active, .theme-base.btn.o-blue.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.o-cyan, .theme-base.btn.o-cyan {
  background-color: transparent;
  color: #00bcd4;
  border: 2px solid #00bcd4 !important;
}

button.theme-base.o-cyan.shadow, .theme-base.btn.o-cyan.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-cyan.shadow.shadow-hover:hover, .theme-base.btn.o-cyan.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-cyan.shadow.shadow-hover:active, .theme-base.btn.o-cyan.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.o-white, .theme-base.btn.o-white {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff !important;
}

button.theme-base.o-white.shadow, .theme-base.btn.o-white.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-white.shadow.shadow-hover:hover, .theme-base.btn.o-white.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-white.shadow.shadow-hover:active, .theme-base.btn.o-white.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.o-black, .theme-base.btn.o-black {
  background-color: transparent;
  color: #000;
  border: 2px solid #000 !important;
}

button.theme-base.o-black.shadow, .theme-base.btn.o-black.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-black.shadow.shadow-hover:hover, .theme-base.btn.o-black.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-black.shadow.shadow-hover:active, .theme-base.btn.o-black.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.o-gray, .theme-base.btn.o-gray {
  background-color: transparent;
  color: #a7a7a7;
  border: 2px solid #a7a7a7 !important;
}

button.theme-base.o-gray.shadow, .theme-base.btn.o-gray.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-gray.shadow.shadow-hover:hover, .theme-base.btn.o-gray.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.o-gray.shadow.shadow-hover:active, .theme-base.btn.o-gray.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-red:hover, .theme-base.btn.hover-o-red:hover {
  background-color: transparent;
  color: #f44336;
  border: 2px solid #f44336 !important;
}

button.theme-base.hover-o-red:hover.shadow, .theme-base.btn.hover-o-red:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-red:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-red:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-red:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-red:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-yellow:hover, .theme-base.btn.hover-o-yellow:hover {
  background-color: transparent;
  color: #FFDD01;
  border: 2px solid #FFDD01 !important;
}

button.theme-base.hover-o-yellow:hover.shadow, .theme-base.btn.hover-o-yellow:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-yellow:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-yellow:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-yellow:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-yellow:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-pink:hover, .theme-base.btn.hover-o-pink:hover {
  background-color: transparent;
  color: #e91e63;
  border: 2px solid #e91e63 !important;
}

button.theme-base.hover-o-pink:hover.shadow, .theme-base.btn.hover-o-pink:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-pink:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-pink:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-pink:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-pink:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-green:hover, .theme-base.btn.hover-o-green:hover {
  background-color: transparent;
  color: #8bc34a;
  border: 2px solid #8bc34a !important;
}

button.theme-base.hover-o-green:hover.shadow, .theme-base.btn.hover-o-green:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-green:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-green:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-green:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-green:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-violet:hover, .theme-base.btn.hover-o-violet:hover {
  background-color: transparent;
  color: #673ab7;
  border: 2px solid #673ab7 !important;
}

button.theme-base.hover-o-violet:hover.shadow, .theme-base.btn.hover-o-violet:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-violet:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-violet:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-violet:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-violet:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-orange:hover, .theme-base.btn.hover-o-orange:hover {
  background-color: transparent;
  color: #ffc107;
  border: 2px solid #ffc107 !important;
}

button.theme-base.hover-o-orange:hover.shadow, .theme-base.btn.hover-o-orange:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-orange:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-orange:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-orange:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-orange:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-blue:hover, .theme-base.btn.hover-o-blue:hover {
  background-color: transparent;
  color: #3190FF;
  border: 2px solid #3190FF !important;
}

button.theme-base.hover-o-blue:hover.shadow, .theme-base.btn.hover-o-blue:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-blue:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-blue:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-blue:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-blue:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-cyan:hover, .theme-base.btn.hover-o-cyan:hover {
  background-color: transparent;
  color: #00bcd4;
  border: 2px solid #00bcd4 !important;
}

button.theme-base.hover-o-cyan:hover.shadow, .theme-base.btn.hover-o-cyan:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-cyan:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-cyan:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-cyan:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-cyan:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-white:hover, .theme-base.btn.hover-o-white:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff !important;
}

button.theme-base.hover-o-white:hover.shadow, .theme-base.btn.hover-o-white:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-white:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-white:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-white:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-white:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-black:hover, .theme-base.btn.hover-o-black:hover {
  background-color: transparent;
  color: #000;
  border: 2px solid #000 !important;
}

button.theme-base.hover-o-black:hover.shadow, .theme-base.btn.hover-o-black:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-black:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-black:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-black:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-black:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.hover-o-gray:hover, .theme-base.btn.hover-o-gray:hover {
  background-color: transparent;
  color: #a7a7a7;
  border: 2px solid #a7a7a7 !important;
}

button.theme-base.hover-o-gray:hover.shadow, .theme-base.btn.hover-o-gray:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 1.5px calc(7.5px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-gray:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-o-gray:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
  text-shadow: 0 4px calc(20px/6) rgba(0, 0, 0, 0.2);
}

button.theme-base.hover-o-gray:hover.shadow.shadow-hover:active, .theme-base.btn.hover-o-gray:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

button.theme-base.clear, .theme-base.btn.clear {
  background-color: transparent;
}

button.theme-base.round-corner, .theme-base.btn.round-corner {
  border-radius: 4px;
}

button.theme-base.round-corner-large, .theme-base.btn.round-corner-large {
  border-radius: 8px;
}

button.theme-base.width-10, .theme-base.btn.width-10 {
  width: 10px;
}

button.theme-base.height-10, .theme-base.btn.height-10 {
  height: 10px;
}

button.theme-base.size-10, .theme-base.btn.size-10 {
  width: 10px;
  height: 10px;
}

button.theme-base.width-15, .theme-base.btn.width-15 {
  width: 15px;
}

button.theme-base.height-15, .theme-base.btn.height-15 {
  height: 15px;
}

button.theme-base.size-15, .theme-base.btn.size-15 {
  width: 15px;
  height: 15px;
}

button.theme-base.width-20, .theme-base.btn.width-20 {
  width: 20px;
}

button.theme-base.height-20, .theme-base.btn.height-20 {
  height: 20px;
}

button.theme-base.size-20, .theme-base.btn.size-20 {
  width: 20px;
  height: 20px;
}

button.theme-base.width-25, .theme-base.btn.width-25 {
  width: 25px;
}

button.theme-base.height-25, .theme-base.btn.height-25 {
  height: 25px;
}

button.theme-base.size-25, .theme-base.btn.size-25 {
  width: 25px;
  height: 25px;
}

button.theme-base.width-30, .theme-base.btn.width-30 {
  width: 30px;
}

button.theme-base.height-30, .theme-base.btn.height-30 {
  height: 30px;
}

button.theme-base.size-30, .theme-base.btn.size-30 {
  width: 30px;
  height: 30px;
}

button.theme-base.width-35, .theme-base.btn.width-35 {
  width: 35px;
}

button.theme-base.height-35, .theme-base.btn.height-35 {
  height: 35px;
}

button.theme-base.size-35, .theme-base.btn.size-35 {
  width: 35px;
  height: 35px;
}

button.theme-base.width-40, .theme-base.btn.width-40 {
  width: 40px;
}

button.theme-base.height-40, .theme-base.btn.height-40 {
  height: 40px;
}

button.theme-base.size-40, .theme-base.btn.size-40 {
  width: 40px;
  height: 40px;
}

button.theme-base.width-45, .theme-base.btn.width-45 {
  width: 45px;
}

button.theme-base.height-45, .theme-base.btn.height-45 {
  height: 45px;
}

button.theme-base.size-45, .theme-base.btn.size-45 {
  width: 45px;
  height: 45px;
}

button.theme-base.width-50, .theme-base.btn.width-50 {
  width: 50px;
}

button.theme-base.height-50, .theme-base.btn.height-50 {
  height: 50px;
}

button.theme-base.size-50, .theme-base.btn.size-50 {
  width: 50px;
  height: 50px;
}

button.theme-base.width-55, .theme-base.btn.width-55 {
  width: 55px;
}

button.theme-base.height-55, .theme-base.btn.height-55 {
  height: 55px;
}

button.theme-base.size-55, .theme-base.btn.size-55 {
  width: 55px;
  height: 55px;
}

button.theme-base.width-60, .theme-base.btn.width-60 {
  width: 60px;
}

button.theme-base.height-60, .theme-base.btn.height-60 {
  height: 60px;
}

button.theme-base.size-60, .theme-base.btn.size-60 {
  width: 60px;
  height: 60px;
}

button.theme-base.width-65, .theme-base.btn.width-65 {
  width: 65px;
}

button.theme-base.height-65, .theme-base.btn.height-65 {
  height: 65px;
}

button.theme-base.size-65, .theme-base.btn.size-65 {
  width: 65px;
  height: 65px;
}

button.theme-base.width-70, .theme-base.btn.width-70 {
  width: 70px;
}

button.theme-base.height-70, .theme-base.btn.height-70 {
  height: 70px;
}

button.theme-base.size-70, .theme-base.btn.size-70 {
  width: 70px;
  height: 70px;
}

button.theme-base.width-75, .theme-base.btn.width-75 {
  width: 75px;
}

button.theme-base.height-75, .theme-base.btn.height-75 {
  height: 75px;
}

button.theme-base.size-75, .theme-base.btn.size-75 {
  width: 75px;
  height: 75px;
}

button.theme-base.width-80, .theme-base.btn.width-80 {
  width: 80px;
}

button.theme-base.height-80, .theme-base.btn.height-80 {
  height: 80px;
}

button.theme-base.size-80, .theme-base.btn.size-80 {
  width: 80px;
  height: 80px;
}

button.theme-base.width-85, .theme-base.btn.width-85 {
  width: 85px;
}

button.theme-base.height-85, .theme-base.btn.height-85 {
  height: 85px;
}

button.theme-base.size-85, .theme-base.btn.size-85 {
  width: 85px;
  height: 85px;
}

button.theme-base.width-90, .theme-base.btn.width-90 {
  width: 90px;
}

button.theme-base.height-90, .theme-base.btn.height-90 {
  height: 90px;
}

button.theme-base.size-90, .theme-base.btn.size-90 {
  width: 90px;
  height: 90px;
}

button.theme-base.width-95, .theme-base.btn.width-95 {
  width: 95px;
}

button.theme-base.height-95, .theme-base.btn.height-95 {
  height: 95px;
}

button.theme-base.size-95, .theme-base.btn.size-95 {
  width: 95px;
  height: 95px;
}

button.theme-base.width-100, .theme-base.btn.width-100 {
  width: 100px;
}

button.theme-base.height-100, .theme-base.btn.height-100 {
  height: 100px;
}

button.theme-base.size-100, .theme-base.btn.size-100 {
  width: 100px;
  height: 100px;
}

button.theme-base.width-105, .theme-base.btn.width-105 {
  width: 105px;
}

button.theme-base.height-105, .theme-base.btn.height-105 {
  height: 105px;
}

button.theme-base.size-105, .theme-base.btn.size-105 {
  width: 105px;
  height: 105px;
}

button.theme-base.width-110, .theme-base.btn.width-110 {
  width: 110px;
}

button.theme-base.height-110, .theme-base.btn.height-110 {
  height: 110px;
}

button.theme-base.size-110, .theme-base.btn.size-110 {
  width: 110px;
  height: 110px;
}

button.theme-base.width-115, .theme-base.btn.width-115 {
  width: 115px;
}

button.theme-base.height-115, .theme-base.btn.height-115 {
  height: 115px;
}

button.theme-base.size-115, .theme-base.btn.size-115 {
  width: 115px;
  height: 115px;
}

button.theme-base.width-120, .theme-base.btn.width-120 {
  width: 120px;
}

button.theme-base.height-120, .theme-base.btn.height-120 {
  height: 120px;
}

button.theme-base.size-120, .theme-base.btn.size-120 {
  width: 120px;
  height: 120px;
}

button.theme-base.width-125, .theme-base.btn.width-125 {
  width: 125px;
}

button.theme-base.height-125, .theme-base.btn.height-125 {
  height: 125px;
}

button.theme-base.size-125, .theme-base.btn.size-125 {
  width: 125px;
  height: 125px;
}

button.theme-base.width-130, .theme-base.btn.width-130 {
  width: 130px;
}

button.theme-base.height-130, .theme-base.btn.height-130 {
  height: 130px;
}

button.theme-base.size-130, .theme-base.btn.size-130 {
  width: 130px;
  height: 130px;
}

button.theme-base.width-135, .theme-base.btn.width-135 {
  width: 135px;
}

button.theme-base.height-135, .theme-base.btn.height-135 {
  height: 135px;
}

button.theme-base.size-135, .theme-base.btn.size-135 {
  width: 135px;
  height: 135px;
}

button.theme-base.width-140, .theme-base.btn.width-140 {
  width: 140px;
}

button.theme-base.height-140, .theme-base.btn.height-140 {
  height: 140px;
}

button.theme-base.size-140, .theme-base.btn.size-140 {
  width: 140px;
  height: 140px;
}

button.theme-base.width-145, .theme-base.btn.width-145 {
  width: 145px;
}

button.theme-base.height-145, .theme-base.btn.height-145 {
  height: 145px;
}

button.theme-base.size-145, .theme-base.btn.size-145 {
  width: 145px;
  height: 145px;
}

button.theme-base.width-150, .theme-base.btn.width-150 {
  width: 150px;
}

button.theme-base.height-150, .theme-base.btn.height-150 {
  height: 150px;
}

button.theme-base.size-150, .theme-base.btn.size-150 {
  width: 150px;
  height: 150px;
}

button.theme-base.width-155, .theme-base.btn.width-155 {
  width: 155px;
}

button.theme-base.height-155, .theme-base.btn.height-155 {
  height: 155px;
}

button.theme-base.size-155, .theme-base.btn.size-155 {
  width: 155px;
  height: 155px;
}

button.theme-base.font-size-1, .theme-base.btn.font-size-1 {
  font-size: calc( 1 * 0.5rem);
}

button.theme-base.font-size-2, .theme-base.btn.font-size-2 {
  font-size: calc( 2 * 0.5rem);
}

button.theme-base.font-size-3, .theme-base.btn.font-size-3 {
  font-size: calc( 3 * 0.5rem);
}

button.theme-base.font-size-4, .theme-base.btn.font-size-4 {
  font-size: calc( 4 * 0.5rem);
}

button.theme-base.font-size-5, .theme-base.btn.font-size-5 {
  font-size: calc( 5 * 0.5rem);
}

button.theme-base.hover-red:hover, .theme-base.btn.hover-red:hover {
  background-color: #f44336;
  color: #fff;
  border-color: #f44336 !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-red:hover.shadow, .theme-base.btn.hover-red:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-red:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-red:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-red:hover.shadow.shadow-hover:active, .theme-base.btn.hover-red:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-yellow:hover, .theme-base.btn.hover-yellow:hover {
  background-color: #FFDD01;
  color: #535353;
  border-color: #FFDD01 !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-yellow:hover.shadow, .theme-base.btn.hover-yellow:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-yellow:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-yellow:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-yellow:hover.shadow.shadow-hover:active, .theme-base.btn.hover-yellow:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-pink:hover, .theme-base.btn.hover-pink:hover {
  background-color: #e91e63;
  color: #fff;
  border-color: #e91e63 !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-pink:hover.shadow, .theme-base.btn.hover-pink:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-pink:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-pink:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-pink:hover.shadow.shadow-hover:active, .theme-base.btn.hover-pink:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-green:hover, .theme-base.btn.hover-green:hover {
  background-color: #8bc34a;
  color: #fff;
  border-color: #8bc34a !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-green:hover.shadow, .theme-base.btn.hover-green:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-green:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-green:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-green:hover.shadow.shadow-hover:active, .theme-base.btn.hover-green:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-violet:hover, .theme-base.btn.hover-violet:hover {
  background-color: #673ab7;
  color: #fff;
  border-color: #673ab7 !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-violet:hover.shadow, .theme-base.btn.hover-violet:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-violet:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-violet:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-violet:hover.shadow.shadow-hover:active, .theme-base.btn.hover-violet:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-orange:hover, .theme-base.btn.hover-orange:hover {
  background-color: #ffc107;
  color: #fff;
  border-color: #ffc107 !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-orange:hover.shadow, .theme-base.btn.hover-orange:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-orange:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-orange:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-orange:hover.shadow.shadow-hover:active, .theme-base.btn.hover-orange:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-blue:hover, .theme-base.btn.hover-blue:hover {
  background-color: #3190FF;
  color: #fff;
  border-color: #3190FF !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-blue:hover.shadow, .theme-base.btn.hover-blue:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-blue:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-blue:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-blue:hover.shadow.shadow-hover:active, .theme-base.btn.hover-blue:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-cyan:hover, .theme-base.btn.hover-cyan:hover {
  background-color: #00bcd4;
  color: #fff;
  border-color: #00bcd4 !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-cyan:hover.shadow, .theme-base.btn.hover-cyan:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-cyan:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-cyan:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-cyan:hover.shadow.shadow-hover:active, .theme-base.btn.hover-cyan:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-white:hover, .theme-base.btn.hover-white:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-white:hover.shadow, .theme-base.btn.hover-white:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-white:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-white:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-white:hover.shadow.shadow-hover:active, .theme-base.btn.hover-white:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-black:hover, .theme-base.btn.hover-black:hover {
  background-color: #000;
  color: #fff;
  border-color: #000 !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-black:hover.shadow, .theme-base.btn.hover-black:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-black:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-black:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-black:hover.shadow.shadow-hover:active, .theme-base.btn.hover-black:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-gray:hover, .theme-base.btn.hover-gray:hover {
  background-color: #a7a7a7;
  color: #000;
  border-color: #a7a7a7 !important;
  box-shadow: none;
  text-shadow: none !important;
}

button.theme-base.hover-gray:hover.shadow, .theme-base.btn.hover-gray:hover.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-gray:hover.shadow.shadow-hover:hover, .theme-base.btn.hover-gray:hover.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

button.theme-base.hover-gray:hover.shadow.shadow-hover:active, .theme-base.btn.hover-gray:hover.shadow.shadow-hover:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.hover-bright:hover, .theme-base.btn.hover-bright:hover {
  filter: brightness(0.95);
}

button.theme-base.hover-bright:active, .theme-base.btn.hover-bright:active {
  filter: brightness(1.3);
}

button.theme-base.hover-dark:hover, .theme-base.btn.hover-dark:hover {
  filter: brightness(1.1);
}

button.theme-base.hover-dark:active, .theme-base.btn.hover-dark:active {
  filter: brightness(0.8);
}

button.theme-base.shadow, .theme-base.btn.shadow {
  box-shadow: 0 1.5px calc(7.5px/2) rgba(0, 0, 0, 0.2), 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.19);
}

button.theme-base.shadow.shadow-hover:hover, .theme-base.btn.shadow.shadow-hover:hover {
  box-shadow: 0 4px calc(20px/2) 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

button.theme-base.shadow.shadow-hover:active, .theme-base.btn.shadow.shadow-hover:active {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button.theme-base.circle, .theme-base.btn.circle {
  border-radius: 50%;
}
