@import "../themeSetting.scss";

$size1: 0.375em;
$size2: 0.375em;
$factor: 0.05;

select.theme-clean {
    /* styling */
    background-color: white;
    border: thin solid rgba(0, 0, 0, 0.3);
    border-radius: $defaultBorderRadius;
    display: inline-block;
    position: relative;
    font: inherit;
    line-height: 1.5em;
    box-sizing: border-box;
    padding: 0.2em 3.5em 0.1em 1em;
    width: auto;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, $defaultColor 50%), linear-gradient(135deg, $defaultColor 50%, transparent 50%), linear-gradient(to right, $defaultLineColor, $defaultLineColor);
    background-position: calc(100% - 1.25em) calc(50% + #{$factor}*#{$size1}), calc(100% - 0.9em) calc(50% + #{$factor}*#{$size1}), calc(100% - 2.5em) 0.125em;
    background-size: $size1 $size1, $size1 $size1, 1px 1.60em;
    background-repeat: no-repeat;

    option {
        width: 100%;
    }

    &:focus {
        background-image: linear-gradient(45deg, $highlightColor 50%, transparent 50%), linear-gradient(135deg, transparent 50%, $highlightColor 50%), linear-gradient(to right, $highlightColor 50%,  #3190FF 50%);
        background-position: calc(100% - 0.9em) calc(50% + #{$factor}*#{$size2}), calc(100% - 1.25em) calc(50% + #{$factor}*#{$size2}), calc(100% - 2.5em) 0.125em;
        background-size: $size2 $size2, $size2 $size2, 1px 1.60em;
        background-repeat: no-repeat;
        border-color: #3190FF;
        color: #3190FF;
        outline: 0;
    }

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}